.logo {float:left;display:block;position:relative;font-size:22px;}

#menu-2-none {
    display:none !important;
}
#menu-3-none {
    display:none !important;
}

#menu-principal-show {
    display:flex !important;
}

#menu-principal-none {
    display:none !important;
}

#menu-2-show {
    display:flex !important;
}

#menu-3-show {
    display:flex !important;
}